{% extends 'layout.html.twig' %}

{% block content %}
    <div id="body-website">
      {% if username is empty %}
      {# HOME USER NOT CONNECTED #}
      <p>Welcome here ! Its a Filer website V3</p>
      <p>You can upload files, rename, replace, delete, move and download</p>
      <p>You can create directories, rename, move, delete</p>
      {% else %}
        {# HOME USER CONNECTED #}
        <p class="welcome-para">
            Welcome {{username}}
        </p>
      <div id="warning-block">
        {% if error is defined and not empty%}
           <p>{{error}}</p>
           {% set error="" %}
        {% endif %}
      </div>
      <div id="message">
        {% if message is defined and not empty%}
           <p>{{message}}</p>
           {% set message="" %}
        {% endif %}
      </div>
      <form id="form-upload" method="post" enctype="multipart/form-data" action="?action=upload">
        <input type="hidden" name="MAX_FILE_SIZE" value="1000000000" /> Choose a file to upload, you can upload a same file name with a different extension
        <input type="file" id="myFile" name="monfichier" />
        <input type="submit" class="bof" value="upload" />
      </form>
      <div id="edit-block">
        {#<?php edit_appear();?>#}
        {#<?php visualize_appear();?>#}
      </div>
      <div id="user-files-list">
        {#<?php display_all_user_files();?>#}
        <div class="block-name">
          <p>File name</p><p>Url</p><p>Date of creation</p><p>Actions</p></div>
          {% for file in allFiles %}
            <div class="file-block">
              <div class="file-name">{{file['file']['file_name']}}</div>
              <div class="file-url">{{file['file']['file_url']}}</div>
              <div class="file-date-creation">{{file['file']['date_creation']}}</div>
              <div class="buttons"><div class="rename-block"><input type="button" class="rename-file" value="Rename File"></div>
              <form method="post" action="?action=delete">
                  <input type="hidden" name="file-url" value={{file['file']['file_url']}}>
                  <input type="submit" name="delete-file" value="Delete File">'
              </form>
              <div class="replace-block"><input type="button" class="replace-file" value="Replace File"></div>
              <form method="post" action="?action=download">
                  <input type="hidden" name="url-file" value={{file['file']['file_url']}}>
                  <input type="hidden" name="name-user" value={{username}}>
                  <input type="submit" name="download-file" value="Download File">
              </form>
              <div hidden class="list-directories">
                  <select name="directory-choice">
                  {% for directory in allDirectories %}
                      <option>{{directory['directory_url']}}</option>
                  {% endfor %}
                  </select>
              </div>
              <div class="move-file-block"><input type="button" class="move-file" value="Move File"></div>
              {#put_button_edit($row['file_url']);#}
              {% if file['edit'] == true %}
                  <form method="post" action="?action=openEditFile">
                      <input type="hidden" name="file-url-edit" value={{file['file']['file_url']}}>
                      <input type="submit" class="edit-file" value="Edit File">
                  </form>
              {% endif %}
              {#put_button_visualize($row['file_url']);#}
              </div></div>
          {% endfor %}
      </div>
      <form method="post" action="?action=createNewFolder">
        <label for="new-d">Create a new directory</label>
        <input type="text" id="new-d" name="new_directory" />
        <input type="submit" class="bof" value="Create new directory" />
      </form>
      <div id="user-directories-list">
        {#<?php display_all_user_directories();?>#}
        <div class="block-name">
          <p>Directory name</p><p>URL</p><p>Directory content</p><p>Actions</p>
        </div>
        {% for directory in allDirectories %}
            <div class="directory-block">
            <div class="directory-name">{{directory['directory_name']}}</div>
            <div class="directory-url">{{directory['directory_url']}}</div>
            <div class="directory-content">{#'.get_directory_content($row['directory_url']).'#}</div>
            <div class="buttons-dir"><div class="rename-block-dir"><div hidden class="url-parent">{{directory['parent_url']}}</div><input type="button" class="rename-directory" value="Rename Directory"></div>
            <div class="create-block-dir"><input type="button" class="create-directory" value="Create Directory"></div>
            <form method="post" action="?action=deleteDirectory">
            <input type="hidden" name="directory-name" value={{directory['directory_name']}}>
            <input type="hidden" name="url-directory" value={{directory['directory_url']}}>
            <input type="submit" name="delete-directory" value="Delete Directory">
            </form>
            <div hidden class="list-directories-dir">{#'.multiple_choice_list_html("d",$row['directory_url']).'#}</div>
            <div class="move-directory-block"><input type="button" class="move-directory" value="Move Directory"></div>
            </div>
            </div>
        {% endfor %}
      </div>
      <script src="web/script4.js"></script>
    {% endif %}
    </div>
{% endblock %}